#fechas_Compras{
    margin: 4%;
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;

}

.btn-outline-primary {
    --bs-btn-color: #696969!important; /*letra*/
    --bs-btn-border-color: #d7d7d7!important;
    border-width: 0.1em!important;
    font-family: 'Poppins', sans-serif!important;
    font-weight: 600!important;
    --bs-btn-padding-x: 0.75rem!important;
    --bs-btn-padding-y: 0.575rem!important;
    margin-top: 5%;
    margin-bottom: 5%;
    --bs-btn-hover-color: #fff!important;
    --bs-btn-hover-bg: #f18080!important;
    --bs-btn-hover-border-color: #f18080!important;
    --bs-btn-focus-shadow-rgb: 13,110,253!important;
    --bs-btn-active-color: #fff!important;
    --bs-btn-active-bg: #f18080!important;
    --bs-btn-active-border-color: #ed5e5e!important;
    
    --bs-btn-active-shadow: #ed5e5e!important;
    --bs-btn-disabled-color: #cdfd0d;
    --bs-btn-disabled-bg: transparent!important;
    --bs-btn-disabled-border-color: #fdf10d;
    --bs-gradient: none!important;
}

#name
{
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    
    letter-spacing: 1px;
    color: rgb(73, 73, 73);
    font-weight: 700;


    margin: auto;
    /*background: white;  */
    display: block;
    text-align: center;
}

.Presentation
{
    display: flexbox;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
   
    
}

#titulo_profileContent {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin: 3%;
    margin-top: 2%;
    margin-bottom: 0.5%;
    letter-spacing: 1px;
    color: rgb(93, 93, 93);
    font-weight: 400;
    font-weight: bold;
    text-transform: uppercase;
}

#titulo_profileContent i {

    font-size: 15px;
    margin-bottom: 3%;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-weight: bold;
    text-transform: uppercase;
}


td{
    text-align: center;
    vertical-align: middle;
  }

th{
    text-align: center!important;
  }

  

.form-group  label{
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 0.5rem;
}

.Presentation li
{
    display: inline;
}

#profiletop{
    margin-top: 15%; /* Added */
    align-items: center;
}

#profileContent{
    margin-top: 5%; /* Added */
}



.card
{
    width: auto;
    height: auto;
    color: rgb(20, 20, 20);
   
    
    margin: 0 auto; /* Added */
    float: none; /* Added */
    
    margin-bottom: 3%;

    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    overflow: visible;
    


}



#profile_header{

    background-color: white!important;
    border-bottom: #fff!important;
}

#profileContent_header{

    background-color: rgb(241, 241, 241)!important;
    border-bottom: #fff!important;
}

#profileContent{
    margin-bottom: 10%;
}


#profilepic
{   position:abolute; 
    display: block;
   margin-top: -100px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 15px;
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#perfilPrivado{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(98, 98, 98);
    font-weight: 500;
}

#profilenav
{
    background-color: white;
    margin: 2%;
}

#profilenav ul
{
    text-align: center;
    display: flex;
   flex-direction: row;
   
    align-items:center; 
    /*justify-content: space-around;*/
    width: 100%;

   

    font-family: 'Lato', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000;
    font-weight: 700;
}

@media (max-width: 800px) {
    #profilenav ul {
      flex-direction: column;
    }
  }

#profilenav li {
    justify-content: center;
    display: flex;  
    flex: 25%;
    list-style-type: none;
    background-color: white;
    padding: 2%;
    border-bottom: solid 2px #c0c0c0;
}


#profilenav a {
color:rgb(134, 134, 134);
    text-decoration: none;
    font-weight: 200;
}
#profilenav a:focus{
   font-weight: bold;
    outline: 0;
}
#profilenav li:focus-within{
    color: #ed5e5e;
    border-bottom: solid 5px #ed5e5e ;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
 }
 #profilenav a:focus-within{
    color: #ed5e5e;
 }
 .bg-modal{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top: 0;
  }

  /*.content {
    display: block;
    /*margin: 15px;
    margin-left: auto;
    margin-right: auto;
    /*margin: 20% 8%;
    padding: 2%;
    border-radius: 15px;
    justify-content: center;
    width: 90vw;
    /* height: 50vh; 
    max-width: 65%;
    max-height: 50%;
    /*background: #FFFFFF;
    overflow: hidden;
    text-overflow: ellipsis;
    
    border-radius: 3%, 3%, 3%, 3%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    align-items: center;

  }*/

#main{
    max-width: 65%;
    max-height: 50%;
    color: rgb(20, 20, 20);
    align-items: center;
    
    margin: 0 auto; /* Added */
    margin-bottom: 20%;
}

#profileContent_body{
    max-width:100%;
    overflow-x: auto;
}



.table {
    width: 100%!important;
  }
    

/*-------------------------------------------------------*/

html{
    min-height: 100%;
    position: relative;
}

header{
    background: #F2CF8D;
}

.navbar{
    background: #C99B6A;
}

#nav2{
    background: #ff9393;
}

#btn-search,#cart{
    color:#fff;
    background: #106973;
    border:none;
}

#cart img{
    filter:invert(1);
}

#cart:hover,#btn-search:hover{
    background: rgb(19, 179, 152);
}

#cart:hover img{
    transform: scale(1.2);
}

body{
    background: #F2F1EB !important;
}

#componente1:hover{
    color:#fff;
background: rgb(19, 179, 152);
}

#componente2:hover{
    color:#fff;
    background: rgb(19, 179, 152);
    }

    #componente3:hover{
        color:#fff;
        background: rgb(19, 179, 152);
        }

        #componente4:hover{
            color:#fff;
            background: rgb(19, 179, 152);
            }

            #componente5:hover{
                color:#fff;
                background: rgb(19, 179, 152);
                }

                #componente6:hover{
                    color:#fff;
                    background: rgb(19, 179, 152);
                    }

                    #componente7:hover{
                        color:#fff;
                        background: rgb(19, 179, 152);
                        }

            .dropdown-menu a{
                transition: .5s all ease-in-out;
            }
            
            .dropdown-menu a:hover{
                box-shadow: 0 0 10px rgb(109, 224, 205);
                transition: .5s all ease-in-out;
                margin-left: 18px;
                border-radius: 0 50px 50px 0;
                background: rgb(19, 179, 152);
                color:#fff
}

footer{
    background: #ff9393;
    position: absolute;
  bottom: 0;
  width: 100%;
}

footer a,li{
    color:#fff;
}


#btn_enviarp{
    border:none;
    background: #106973;
}

#btn_enviarp:hover{
    background: rgb(19, 179, 152);
}

