.card-body h5{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000;
    font-weight: 700;
}


/*-----------------------------------------------------*/
html{
    min-height: 100%;
    position: relative;
}

header{
    background: #F2CF8D;
}

.navbar{
    background: #C99B6A;
}

#nav2{
    background: #ff9393;
}

#btn-search,#cart,#btn-mlistas,#btn-enlistas{
    color:#fff;
    background: #106973;
    border:none;
}

#cart img{
    filter:invert(1);
}

#cart:hover,#btn-search:hover,#btn-mlistas:hover,#btn-enlistas:hover{
    background: rgb(19, 179, 152);
}

#cart:hover img{
    transform: scale(1.2);
}

body{
    background: #F2F1EB !important;

}

#componente0:hover{
    color:#fff;
background: rgb(19, 179, 152);
}

#componente2:hover{
    color:#fff;
    background: rgb(19, 179, 152);
    }

    #componente3:hover{
        color:#fff;
        background: rgb(19, 179, 152);
        }

        #componente4:hover{
            color:#fff;
            background: rgb(19, 179, 152);
            }

            #componente5:hover{
                color:#fff;
                background: rgb(19, 179, 152);
                }

                #componente6:hover{
                    color:#fff;
                    background: rgb(19, 179, 152);
                    }

            .dropdown-menu a{
                transition: .5s all ease-in-out;
            }
            
            .dropdown-menu a:hover{
                box-shadow: 0 0 10px rgb(109, 224, 205);
                transition: .5s all ease-in-out;
                margin-left: 18px;
                border-radius: 0 50px 50px 0;
                background: rgb(19, 179, 152);
                color:#fff
}

footer{
    background: #ff9393;
    position: absolute;
  bottom: 0;
  width: 100%;
}

footer a,li{
    color:#fff;
}

#add_carrito,#comprar_btn,#btn-view,#btn-addcart,#btn-viewv,#btn-addcartv{
    background: #106973;
    border:none;
}

#add_carrito:hover,#comprar_btn:hover,#btn-view:hover,#btn-addcart:hover,#btn-viewv:hover,#btn-addcartv:hover{
    color:#fff;
    background: rgb(19, 179, 152);
}

.card .img-wrapper{
    max-width: 100%;
    height: 13em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-wrapper video{
    max-height: 100%;
}

@media screen and (min-width:768px){
    #carousel-videos .carousel-inner{
        display:flex;
    }

    #carousel-videos .carousel-item{
        margin-right: 0;
        flex: 0 0 33.333333%;
        display:block;
    }

    .img-wrapper{
        height:10vw;
    }
}

#carousel-videos .carousel-inner{
    padding: 1em;
}

.card{
    margin:0 .5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
}

#carousel-videos .carousel-control-prev,#carousel-videos .carousel-control-next{
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

#card-relac .img-wrapper{
    max-width: 100%;
    height: 13em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card-relac .img-wrapper img{
    max-height: 100%;
}

@media screen and (min-width:768px){
    #carousel-relac .carousel-inner{
        display:flex;
    }

    #carousel-relac .carousel-item{
        margin-right: 0;
        flex: 0 0 33.333333%;
        display:block;
    }

    #card-relac .img-wrapper{
        height:10vw;
    }
}

#carousel-relac .carousel-inner{
    padding: 1em;
}

#card-relac{
    margin:0 .5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
}

#carousel-relac .carousel-control-prev,#carousel-relac .carousel-control-next{
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

#card-relav .img-wrapper{
    max-width: 100%;
    height: 13em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card-relav .img-wrapper img{
    max-height: 100%;
}

@media screen and (min-width:768px){
    #carousel-relav .carousel-inner{
        display:flex;
    }

    #carousel-relav .carousel-item{
        margin-right: 0;
        flex: 0 0 33.333333%;
        display:block;
    }

    #card-relav .img-wrapper{
        height:10vw;
    }
}

#carousel-relav .carousel-inner{
    padding: 1em;
}

#card-relav{
    margin:0 .5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
}

#carousel-relav .carousel-control-prev,#carousel-relav .carousel-control-next{
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
